%script#blog_template{ :type => 'text/html' }
  :plain
    <li>
      <i>{{date}}</i> - <a href={{post_url}} target='_blank'>{{title}}</a>


#blog
  %a.anchor{ :name => 'blog' }
  %h2.scripty.text-center
    Latest Posts
    %a{ :href => "http://gordondiggs.tumblr.com" } See all

  .posts
    %ul
