.nav.text-center.scripty
  - CATEGORIES.each do |category|
    %span
      %a{ href: "##{category}" }= category.capitalize

- CATEGORIES.each do |category|
  = haml "#{category}_template".to_sym rescue nil
