%html
  %head
    %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css", rel: "stylesheet"}/
    %link{ :rel=>"stylesheet", :type=>"text/css", :href=>"http://fonts.googleapis.com/css?family=Reenie+Beanie"}
    %link{ :rel=>"stylesheet", :type=>"text/css", :href=>"http://fonts.googleapis.com/css?family=Molengo"}
    %link{href: "/stylesheet.css", rel: "stylesheet"}/
    %script{src: "//code.jquery.com/jquery-1.10.1.min.js"}
    %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}
    %script{src: "/vendor/mustache.js" }
    %script{src: "/vendor/jquery.fitvids.js" }
    %script{src: "/scripts.js" }
    %title Gordon Diggs. Software Engineer. Cook. Collector.
  %body
    .container 
      .header.text-center
        %img{ src: '/logo.png', height: 300}
        %br
        %h1.scripty Gordon Diggs
      = yield
    %footer.text-center
      Created in 2013 by Gordon Diggs.
      %a{ :href => 'https://github.com/gordondiggs/gordondiggs.com' } See the code for this site on Github
