%script#photo_template{ :type => 'text/html' }
  :plain
    <a href={{url}} target='_blank'><img src={{src}}></a>

#photos
  %a.anchor{ :name => 'photos' }
  %h2.scripty.text-center
    Latest Photos
    %a{ :href => "http://instagram.com/gordondiggs" } See all

  .photos.text-center
