#speaking
  %a.anchor{ :name => 'speaking' }
  %h2.scripty.text-center Talks

  %iframe{allowfullscreen: "", frameborder: "0", height: "281", mozallowfullscreen: "", src: "//player.vimeo.com/video/96832750?title=0&byline=0&portrait=0&color=f3b940", webkitallowfullscreen: "", width: "500"}
  %p
    %a{href: "http://vimeo.com/96832750"} The Joys and Pains of Working With an Old Codebase
    presented at
    %a{href: "http://devslovebacon.com"} BACON
    on May 17, 2014

  %br
  %br

  %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/uTEBmCl7PRQ", width: "560"}
  %p Tools I like presented at Paperless Post Dev Lightning Talks on February 21, 2014

  %br
  %br

  %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/1g-VbdDRtXs", width: "560"}
  %p Algorithms presented at Rocky Mountain Ruby in September, 2012

