body {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #054175), color-stop(1, #06131F) );
  background: -moz-linear-gradient(center top, #054175 0%, #06131F 100%);
  background-color: #06131F;
  color: white;
  font-family: 'Molengo', arial, serif;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    color: white;
  }
  &.anchor {
    text-decoration: none;
  }
}

.scripty {
  font-family: 'Reenie Beanie', arial, serif;
}

h1 {
  font-size: 6em;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

.header {
  margin-top: 30px
}

.nav {
  margin-top: 20px;
  font-size: 2.5em;
  span:not(:last-child):after {
    content: '|';
  }
}

.twitter-tweet {
  margin: 10px auto !important;
  border: none !important;
}

.records ul {
  list-style: none;
  li {
    padding: 10px 0;
  }
}

.photos{
  a, img {
    padding: 0;
    margin: 0;
  }
}
