---
title: Gordon Diggs
layout: base.njk
---

<div class="row">
  <h2>Projects:</h2>

  <ul class="px-5">
    <li>
      <a href="https://resistance-frequencies.com/">Resistance Frequencies: Punk & Jazz DJ Mixes</a>
    </li>
    <li>
      <a href="https://nyckeyboardmeetup.com/">NYC Mechanical Keyboard Meetup</a>
    </li>
    <li>
      <a href="https://github.com/nycmkm/wonka">Wonka: Giveaway app for Eventbrite events</a>
    </li>
    <li>
      <a href="https://github.com/gdiggs/rayons">Rayons: App for cataloging records</a>
    </li>
  </ul>
</div>

<div class="row">
  <h2>Blog Posts:</h2>

    <ul class="px-5">
      {% for page in collections.blogPosts %}
        <li>
          {{ page.date | postDate }}: <a href={{ page.url }}>{{ page.data.title }}</a>
        </li>
      {% endfor %}
    </ul>
</div>
